


// Add custom styles here
body {
    background-color: #20262c;
    color: white;
    min-height: 800px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
    display: flex;   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
