package templates

templ Layout() {
	<html>
		<head>
			<link rel="stylesheet" href="/public/css/main.css">
		</head>
		<body>
            <div>
            <button type="button" class="btn btn-success">Hello World Foo</button>
            </div>

		</body>
	</html>
}
