{{ define "tasks/task_list.html" }}
<div id="task-list" class="border border-gray-700 mt-4">
    <table class="w-full border-collapse ">
        <thead>
            <tr class="bg-gray-800">
                <th class=" p-2 text-left">Title</th>
                <th class=" p-2 text-left">Description</th>
                <th class=" p-2 text-center">Status</th>
                <th class=" p-2 text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .tasks }}
            <tr class="bg-gray-700 text-white">
                <td class=" p-2">{{ .Title }}</td>
                <td class=" p-2">{{ .Description }}</td>
                <td class=" p-2">
                    <span class="px-3 py-1 rounded-full bg-yellow-300">
                        {{ .Status }}
                    </span>
                </td>
                <td class=" p-2 text-right">
                    <button hx-post="/toggle/{{ .ID }}" hx-target="#task-list" hx-swap="outerHTML"
                            class="bg-blue-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded">
                        Toggle
                    </button>
                    <button hx-post="/delete/{{ .ID }}" hx-target="#task-list" hx-swap="outerHTML"
                            class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">
                        Delete
                    </button>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>

{{ end }}
